/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2014, 11:23:46 PM
    Author     : Vovan <vovanok1992 at gmail.com>
*/

#menubutton{
    position: fixed;
    top: 50%;
    left: -10px;
    display: none;
}

#text{
    color: #FF5511;
    border: 1px solid cornflowerblue;
    text-decoration: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.50);
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); /* Safari/Chrome */
    -moz-transform: rotate(-90deg); /* Firefox */
    -o-transform: rotate(-90deg); /* Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
    
    
}