/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2014, 7:58:43 PM
    Author     : Vovan <vovanok1992 at gmail.com>
*/

/* always assume on smaller screen first */

#floatdiv {
    
    display:none;
    position: fixed;
    top: 50%;
    margin: 0;
 
}

#sub{
    background:rgba(0,0,0,0.1);
    position: relative;
    top: -50px;
    margin: 5px;
    border-radius: 5px;
    height: 100px;
    width:130px;
    padding: 5px;
    
}



@media screen and (min-width:1320px){
    #floatdiv {
        display:block;
    }
}